body { background: url(TASS_40491553_d_850.jpg);
		background-attachment: fixed; 
		font-family: font-family: Roboto Condensed;
		font-size: 20px;
		color: #800000;
		text-align: center;
	text-shadow: 2px 2px 3px #B0E0E6;}